<!DOCTYPE html>
<html>
<head>
    <title>Total Recall</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <img src="{{ url_for('static', filename='frontpage.png') }}" class="img-fluid" alt="Front Page">
    <div class="container">
        <p class="mt-5">
            Never again forget that one article you read that one time.

            Total Recall is a Chrome extension that allows you to save articles you read on the web, and then search for them later
            using semantic search powered by DataStax Astra.

            Get the extension for <a href="https://chrome.google.com/webstore/detail/total-recall/">Chrome</a>
            or for <a href="https://addons.mozilla.org/en-US/firefox/addon/total-recall/">Firefox</a>.
        </p>
    </div>
</body>
</html>
