<!DOCTYPE html>
<html>
<head>
    <title>Total Recall</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <img src="{{ url_for('static', filename='frontpage.png') }}" class="img-fluid" alt="Front Page">
                <p class="mt-5">
                    Never forget that one article you read, again.
                </p>
                <p class="mt-5">
                    Total Recall is a browser extension that allows you to save articles you read on the web, and then search for them later
                    using semantic search powered by <a href="https://astra.datastax.com/">DataStax Astra</a>.
                </p>
                <p class="mt-5">
                    Get the extension for <a href="https://addons.mozilla.org/en-US/firefox/addon/maximum-recall/">Firefox</a>.
                </p>
                <p class="mt-5">
                    Want to improve Total Recall or add Chrome support?  <a href="https://github.com/MaximumRecall/">Contribute on github!</a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>
