<!DOCTYPE html>
<html>
<head>
    <title>Search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Search</h1>
        <form method="POST" action="{{ url_for('results') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.search_text.label(class="form-label") }}
                {{ form.search_text(class="form-control") }}
            </div>
            <input type="submit" value="Search" class="btn btn-primary" />
        </form>

        <h1 class="mt-5">Recent URLs</h1>
        {% for url in urls %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ url.full_url }}">{{ url.title }}</a></h5>
                    <p class="card-text">Saved at: {{ url.saved_at_human }}</p>
                    <p class="card-text"><a href="{{ url_for('snapshot', user_id_str=user_id_str, url_id_str=url_id_str) }}">View snapshot</a></p>
                </div>
            </div>
        {% endfor %}
        {% if urls and oldest_saved_at %}
        <a href="?user_id={{ user_id_str }}&saved_before={{ oldest_saved_at }}" class="btn btn-primary">Older URLs</a>
        {% endif %}
        {% if saved_before_str %}
        <a href="?user_id={{ user_id_str }}" class="btn btn-primary">Reset to newest</a>
        {% endif %}
    </div>
</body>
</html>
